[submodule "src/Game/assets"]
	path = src/Game/assets
	url = https://github.com/Starciad/StardustSandbox.Assets.git
[submodule "src/Core/assets"]
	path = src/Core/assets
	url = https://github.com/Starciad/StardustSandbox.Assets.git
